.ui-panelgrid, .ui-panelgrid-cell 
{
    border-width: 1px;
    /* border-style: solid; */
    border-color: inherit;
    padding: 4px 10px;
}
.ui-panelgrid td, .ui-panelgrid tr
{
    border-style: none !important
}