<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>
		<!-- JDBC Database connection settings -->
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>
		<property name="hibernate.connection.username">abacus_eiopa_master</property>
		<property name="hibernate.connection.password">abacus_eiopa_master</property>

		<!-- JDBC connection pool settings using built-in test pool -->
		<property name="connection.pool_size">1</property>
		
		<!-- SQL Dialect -->
		<property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
	
		<!-- Log SQL to stdout -->
		<property name="show_sql">true</property>
		
		<!-- Set current session context -->
		<property name="current_session_context_class">thread</property>
	
	</session-factory>
</hibernate-configuration>